# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [4]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 37.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 2.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 88.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 6.2 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [20]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [13]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'manuelcortes'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD  # 13.39.109.107/phpmyadmin
#Establecemos la conexión   # http://13.39.109.107/phpmyadmin/index.php
engine = create_engine(linkConexion)

In [14]:
if not database_exists(engine.url):
    create_database(engine.url)

In [17]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', con = engine, if_exists='replace')

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [19]:
#Rellena la variable query con tu consulta
query = """ SELECT DISTINCT LaunchSite FROM SPACEXTBL;   """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [25]:
query = """select FlightNumber from SPACEXTBL WHERE LaunchSite LIKE 'CCS%' """ # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

    FlightNumber
0              1
1              2
2              3
3              5
4              6
5              7
6              8
7              9
8             10
9             11
10            12
11            13
12            14
13            15
14            16
15            17
16            19
17            20
18            21
19            22
20            23
21            24
22            25
23            42
24            44
25            45
26            46
27            48
28            49
29            51
30            52
31            53
32            55
33            56
34            60
35            61
36            64
37            65
38            67
39            68
40            69
41            70
42            71
43            72
44            74
45            75
46            76
47            80
48            81
49            82
50            83
51            84
52            85
53            89
54            90

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = """select * from SPACEXTBL;""" # cada vez q busquemos columnas 
df  = pd.read_sql(query, con = engine )
df